* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#plot-container {
  width: 100vw;
  max-height: 90vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

#plot-input .control-panel-input {
  background: #fff;
  box-shadow: 3px 4px 7px 6px rgb(0 0 0 / 23%), 0 0px 0px 0px rgb(0 0 0 / 12%);
  border-radius: 5px 40px 40px 5px;
  padding: 15px 15px;
  margin: 20px 10px;
}