:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
}

.section__title {
    font-family: var(--ff-primary);
    margin-bottom: .25em;
}

#plot-container {
  width: 100vw;
  max-height: 90vh;
  padding: 20px;
  display: flex;
  font-family: var(--ff-primary);
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

#plot-input .control-panel-input {
  font-family: var(--ff-primary);
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  padding: 15px 15px;
  margin: 20px 10px;
}
